a {
    text-decoration: none;
    text-transform:uppercase;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(255, 1, 255);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}